<mat-card>
    <mat-card-title>Product Search</mat-card-title>

    <div class="search-options-header">
        <mat-radio-group [(ngModel)]="searchType" (ngModelChange)="onSearchTypeChanged()" class="search-type-radios">
            <mat-radio-button value="{{searchTypes.TRADITIONAL_SQL}}">Traditional SQL</mat-radio-button>
            <mat-radio-button value="{{searchTypes.FULLTEXT}}">Full-text Search</mat-radio-button>
            <mat-radio-button value="{{searchTypes.TEXT_EMBEDDINGS}}">Text Embeddings</mat-radio-button>
            <mat-radio-button value="{{searchTypes.HYBRID}}">Hybrid Search</mat-radio-button>
            <mat-radio-button value="{{searchTypes.IMAGE}}">Image Search</mat-radio-button>
        </mat-radio-group>

        <div class="ai-filter-toggle-container">
            <mat-slide-toggle [(ngModel)]="aiFilterEnabled" class="ai-filter-toggle">
                Filter with Gemini {{ aiFilterEnabled }} {{ aiFilterText }}
            </mat-slide-toggle>
        </div>
    </div>

    <mat-form-field class="full-width-field">
        <mat-label>Product Search</mat-label>
        <input matInput [(ngModel)]="productSearch" (keydown.enter)="findProducts()"
            [placeholder]="searchType == 'image' ? SEARCH_PLACEHOLDER_IMAGE : (aiFilterEnabled ? 'Enter main search term or leave blank for AI filter only' : SEARCH_PLACEHOLDER)">
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="productSearch = getSuggestion(); findProducts()">
            prompt_suggestion
        </mat-icon>
    </mat-form-field>

    <div *ngIf="aiFilterEnabled" class="ai-filter-input-section">
        <span class="ai-filter-label">Show me products that are...</span>
        <mat-form-field class="ai-filter-input full-width-field">
            <input matInput [(ngModel)]="aiFilterText" (keydown.enter)="findProducts()"
                placeholder="e.g., eco-friendly and durable">
        </mat-form-field>
    </div>

    <app-image-selector *ngIf="searchType=='image'"
                        (imageSelected)="onImageSelectedFromChild($event)"></app-image-selector>
    <mat-card-actions>
        <button mat-raised-button color="primary"
            [disabled]="productSearch.length === 0 && (!aiFilterEnabled || aiFilterText.length === 0)"
            (click)="findProducts()">
            @if (loading && searchType == searchTypes.NATURAL) {
            <div class="inline-spinner">
                {{LOADING_BUTTON_TEXT}}
                <mat-spinner matSuffix mode="indeterminate" [diameter]="16"></mat-spinner>
            </div>
            } @else {
                {{BUTTON_TEXT}}
            }
        </button>
        <span class="show-sql-spacer"></span>
        <div class="show-sql">
        <button mat-stroked-button color="secondary" style="margin-left: 8px;"
            *ngIf="productResultsComponent && (productResultsComponent.interpolatedQuery || productResultsComponent.query || productResultsComponent.facetInterpolatedQuery)"
            (click)="productResultsComponent.openSqlDialog()">
            <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
            View SQL Queries
         </button>
        </div>

    </mat-card-actions>
    <app-product-results [productsResponse]="productsResponse$"
                         [facetsResponse]="facetsResponse$"
                         [searchQuery]="productSearch"
                         [searchType]="searchType"
                         (facetSelectionChange)="onFacetSelectionChanged($event)"></app-product-results>

</mat-card>