<mat-card>
    <mat-card-title>Product Search</mat-card-title>
    <mat-radio-group [(ngModel)]="searchType" (ngModelChange)="onSearchTypeChanged()">
        <mat-radio-button value="{{searchTypes.TRADITIONAL_SQL}}">Traditional SQL</mat-radio-button>
        <mat-radio-button value="{{searchTypes.FULLTEXT}}">Full-text Search</mat-radio-button>
        <mat-radio-button value="{{searchTypes.TEXT_EMBEDDINGS}}">Text Embeddings</mat-radio-button>
        <mat-radio-button value="{{searchTypes.HYBRID}}">Hybrid Search</mat-radio-button>
        <mat-radio-button value="{{searchTypes.IMAGE}}">Image Search</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput [(ngModel)]="productSearch" (keydown.enter)="findProducts()"
            [placeholder]="searchType == 'image' ? SEARCH_PLACEHOLDER_IMAGE : SEARCH_PLACEHOLDER">
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="productSearch = getSuggestion(); findProducts()">
            prompt_suggestion
        </mat-icon>
    </mat-form-field>
    <app-image-selector *ngIf="searchType=='image'"
                        (imageSelected)="onImageSelectedFromChild($event)"></app-image-selector>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="productSearch.length === 0"
            (click)="findProducts()">
            @if (loading && searchType == searchTypes.NATURAL) {
            <div class="inline-spinner">
                {{LOADING_BUTTON_TEXT}}
                <mat-spinner matSuffix mode="indeterminate" [diameter]="16"></mat-spinner>
            </div>
            } @else {
                {{BUTTON_TEXT}}
            }
        </button>
    </mat-card-actions>
    <app-product-results [productsResponse]="productsResponse$" 
                         [facetsResponse]="facetsResponse$"
                         [searchQuery]="productSearch"
                         [searchType]="searchType"
                         (facetSelectionChange)="onFacetSelectionChanged($event)"></app-product-results>
    
</mat-card>
