
.inline-spinner ::ng-deep mat-spinner circle {
    stroke: #82E897;
}

.inline-spinner ::ng-deep {
    display: flex;
}

.show-sql-spacer {
    flex: 1 1 auto;
}

.search-options-header {
  display: flex;
  justify-content: space-between; // Pushes radio group to left, toggle to right
  align-items: center; // Vertically align items in the middle
  margin-bottom: 16px; // Space below this header row
}

.search-type-radios {
  // Takes up available space, allowing the toggle to be on the right
  flex-grow: 1;
}


.full-width-field {
  width: 100%;
}

.ai-filter-input {
  flex-grow: 1;
}

.ai-filter-toggle-container{
    font-size: 1em;
    font-weight: 450;
}

.search-inputs-container {
  display: flex;
  gap: 16px; // Adjust gap between input fields as needed
  align-items: flex-start; // Or 'center' if you prefer vertical alignment of form fields
  margin-bottom: 16px; // Space below the input row
}

.product-search-field {
  transition: width 0.3s ease-in-out; // Smooth transition for width change
}

.full-width-field {
  width: 100%;
}

.half-width-field {
  width: 50%;
  flex-grow: 1; // Allow fields to grow if there's extra space in the flex container
}

label {
  font-size: 20px !important;
}


.radio-text {
  font-size: 1.1em;
}
