<div>
    <mat-toolbar>
        @if(!isSmallScreen) {
            <div>
                <a href="/products"><img src="/assets/cymbal_shops_large.png" alt="Cymbal Shops" class="toolbar-logo" /></a>
            </div>
        } @else {
            <div>
                <a href="/products"><img src="/assets/cymbal_shops_small.png" alt="Cymbal Shops" class="small-toolbar-logo" /></a>
            </div>
        }
        <div class="subtitle">St<i>y</i>leSearch</div>
        <mat-divider [vertical]="true"></mat-divider>

        <span class="toolbar-spacer"></span>

        <div class="powered-by-container">
            <span class="powered-by">Powered By <img src="/assets/alloydb.svg" alt="AlloyDB" class="product-logo" viewBox="0 0 24 24"/> AlloyDB <img src="/assets/vertex_ai.svg" alt="Vertex AI" class="product-logo" viewBox="0 0 24 24"/> Vertex AI</span>
        </div>
        
        <span class="toolbar-spacer"></span>

        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button (click)="openArchitectureDialog()">Architecture</button>

        <div class="roleDiv">
            <button mat-button [matMenuTriggerFor]="roleMenu" aria-label="User role menu">
                Role: {{ currentRole }}
            </button>
        </div>
        

        <mat-menu #roleMenu="matMenu">
            <button mat-menu-item (click)="select('Admin')">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Admin</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="shopperMenu">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Shopper</span>
            </button>
        </mat-menu>

        <mat-menu #shopperMenu="matMenu">
            <button mat-menu-item (click)="select('Shopper (Paul Ramsey)')">Paul Ramsey</button>
            <button mat-menu-item (click)="select('Shopper (Evelyn Sterling)')">Evelyn Sterling</button>
            <button mat-menu-item (click)="select('Shopper (Arthur Kensington)')">Arthur Kensington</button>
            <button mat-menu-item (click)="select('Shopper (Penelope Wainwright)')">Penelope Wainwright</button>
            <button mat-menu-item (click)="select('Shopper (Sebastian Thorne)')">Sebastian Thorne</button>
        </mat-menu>
    </mat-toolbar>
    <body>
        <router-outlet></router-outlet>
    </body>
</div>